.top-slider {
  width: 100%;
  margin-top: 72px;
  background-color: #222939;
}

.slider-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.slider-container.single{
  max-width: 400px;
}

.slider-img {
  width: 100%;
  height: auto;
  display: block;
}

.slider-img-wrapper {
  display: flex;
  justify-content: flex-end;
}

.carousel-item-content {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  margin-right: 8rem;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 50%;
  color: white;
}

.carousel-icon {
  width: 240px;
  max-width: 50%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.big {
  font-size: 24px;
}

.bold {
  font-weight: bold;
}

.from-tablet-up {
  display: none;
}

.up-to-tablet {
  display: inline;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--bg-button);
  color: black;
  font-size: 18px;
  font-weight: 600;
  max-width: 180px;
  margin-top: 12px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.button-primary {
  background-color: var(--bg-button);
}

/* aaa */

.list-router {
  display: flex;
  padding-top: 12px;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
}

.router__group-items {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}
.router__item:hover p {
  color: var(--bg-button);
}

.router__item {
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.235px;
  line-height: 20px;
  padding: 14px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.router__item.active {
  color: var(--bg-button);
}

.list-dots{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 1rem;
  top: -1rem;
}

.slider-action.bot{
  bottom: 5%;
  top: 90%;
}

.slider-action.bot.prev{
  left: 90%;
}

.list-dots li{
  width: 40px;
  height: 2px;
  background-color: var(--bg-button);
}

.list-dots li button{
  display: none;
}

.list-dots .slick-active{
  background-color: white;
}
.user-info {
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.user-info svg{
  font-size: 28px;
  color: white;
}

.big.dsc{
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1190px) {
  .carousel-item-content{
    margin-right: 0.5rem;
  }
}
@media (max-width: 900px) {
  .carousel-icon{
      width: 180px;
  }
  .carousel-item-content{
    margin-right: 0.5rem;
  }
  .carousel-item-content > span {
    font-size: 14px;
  }

  .carousel-item-content img{
    margin-bottom: 5px;
  }

  .carousel-item-content button{
    width: 100px;
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .carousel-item-content{
      margin-right: 0;
  }
}

@media (max-width: 600px) {
  .carousel-icon{
    width: 80px;
  }
  .carousel-item-content span{
    font-size: 14px;
  }
  .carousel-item-content .button{
    padding: 6px 14px;
  }
}

@media (max-width: 330px) {
  .carousel-icon{
    width: 50px;
  }
  .carousel-item-content span{
    font-size: 10px;
  }
  .carousel-item-content .button{
    font-size: 10px;
    padding: 6px 14px;
  }
}


@media (max-width: 965px) {
  .slider-action.banner{
      display: none;
  }
}