.top-slider {
  width: 100%;
  margin-top: 72px;
  background-color: #222939;
}

.slider-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.slider-img {
  width: 100%;
  height: auto;
  display: block;
}

.slider-img-wrapper {
  display: flex;
  justify-content: flex-end;
}

.carousel-item-content {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  margin-right: 8rem;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 50%;
  padding: 20px;
  color: white;
}

.carousel-icon {
  width: 100px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.big {
  font-size: 24px;
}

.bold {
  font-weight: bold;
}

.from-tablet-up {
  display: none;
}

.up-to-tablet {
  display: inline;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.button-primary {
  background-color: #007bff;
}

/* aaa */

.list-router {
  display: flex;
  padding-top: 12px;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
}

.router__group-items {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}
.router__item:hover p {
  color: var(--bg-button);
}

.router__item {
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.235px;
  line-height: 20px;
  padding: 14px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.router__item.active {
  color: var(--bg-button);
}


@media (max-width: 768px) {
  .carousel-item-content{
      margin-right: 0;
  }
}