.container {
  display: flex;
  flex-direction: row;
  background-color: #1a202c;
}
.main {
  display: flex;
  background-color: #1a202c;
  flex-direction: column;
  min-height: 100vh;
  max-width: 3420px;
  margin: 0 auto;
  width: 100%;
  /* padding: 0 18px; */
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}